<!-- Contenedor principal del chat -->
<div id="chat-container">

  <!-- Encabezado del chat -->
  <div id="chat-header">
    <!-- Título del chat -->
    <h4>Chat</h4>
    <!-- Nombre del usuario -->
    <h5 id="nombreusuario">Nombre de usuario</h5>
  </div>

  <!-- Mensajes del chat -->
  <div id="chat-messages">
    <div>
      <!-- Estado de conexión del usuario -->
      <div>
        <div>Conectado</div>
      </div>
      <!-- Contenedor donde se mostrarán los mensajes -->
      <div id="chat"></div>
    </div>
  </div>

  <!-- Formulario para enviar mensajes -->
  <form id="formulario">
    <!-- Campo de texto para escribir el mensaje -->
    <input
      type="text"
      name="mensaje"
      id="mensaje"
      placeholder="Escriba su mensaje"
    />

    <!-- Contenedor de botones -->
    <div>
      <!-- Botón para enviar el mensaje -->
      <button id="sendMessage">Enviar</button>
      <!-- Botón para borrar la conversación -->
      <button id="clearChat">Borrar Conversación</button>
    </div>
  </form>
</div>

<!-- Incluye las bibliotecas necesarias para el chat -->
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- Incluye el script del chat -->
<script src="js/chat.js"></script>