<h1>login</h1>
<form action="/api/sessions/login" method="post">
  <label for="email"></label>
  <input type="email" placeholder="email" name="email" required />
  <br />
  <label for="password"></label>
  <input type="password" placeholder="password" name="password" required />
  <br />
  <button type="submit">login</button>
  <p>No tenes cuenta? <a href="/register">Register</a></p>
  <p>Te olvidaste la contraseña?
    <a href="/reset-password">Restablecer contraseña</a></p>
</form>

<a href="/api/sessions/github">GitHub</a>