@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/* Variables globales */
:root {
  --clr-main: #e0bc88;
  --clr-main-dark: #6e4914;
  --clr-white-transparent: rgba(248, 244, 244, 0.8);
  --clr-white-transparent-more: rgba(248, 244, 244, 0.9);
  --clr-gray-light: rgb(117, 117, 117);
  --clr-gray-: rgb(58, 58, 58);
  --clr-gray-dark: rgb(29, 28, 28);
  --clr-fucsia: #c34262;
}
/* Estilos generales */
body {
  font-family: "Roboto", sans-serif; /* O la fuente que elijas */
  background-color: var(--clr-main-dark);
  color: var(--clr-white-transparent);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilos para los productos */
.product-card {
  background-color: var(--clr-white-transparent);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.product-details {
  flex: 1;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: var(--clr-fucsia);
}

/* Estilos para el botón "Ver más" (opcional) */
.see-more-button {
  background-color: var(--clr-fucsia);
  color: var(--clr-white-transparent);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
/*HEADER*/
nav {
  background-color: var(--clr-main-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li a {
  color: var(--clr-white-transparent);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

nav li a:hover {
  background-color: var(--clr-fucsia);
  color: var(--clr-white-transparent);
}

nav li a[aria-current="page"]:hover {
  background-color: var(--clr-fucsia);
  color: var(--clr-white-transparent);
}

/* Estilos del formulario de inicio de sesión */
/* Estilos generales */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-main-dark);
  color: var(--clr-white-transparent);
}

/* Estilos para el formulario */
form {
  background-color: var(--clr-white-transparent);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--clr-gray-light);
  border-radius: 5px;
  margin-bottom: 15px;
}

button {
  background-color: var(--clr-fucsia);
  color: var(--clr-white-transparent);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

p {
  margin-bottom: 10px;
  text-align: center;
}

p a {
  color: var(--clr-fucsia);
  text-decoration: none;
}

/* Estilos para el enlace de GitHub */
.github-link {
  display: block;
  text-align: center;
  margin-top: 20px;
}
