<form id="formProduct">
  <div>
    <label for="title">Nombre del Producto</label>
    <div>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Nombre del producto"
        required
      />
    </div>
  </div>

  <div>
    <label for="description">Descripción</label>
    <div>
      <input
        type="text"
        name="description"
        id="description"
        placeholder="Descripción del producto"
        required
      />
    </div>
  </div>

  <div>
    <label for="stock">Unidades disponibles</label>
    <div>
      <input
        type="number"
        name="stock"
        id="stock"
        placeholder="Unidades del producto"
        required
      />
    </div>
  </div>

  <div>
    <label for="thumbnail">Imagen del producto</label>
    <div>
      <input
        type="text"
        name="thumbnail"
        id="thumbnail"
        placeholder="Link de la imagen del producto"
        required
      />
    </div>
  </div>

  <div>
    <label for="category">Categoría</label>
    <div>
      <input
        type="text"
        name="category"
        id="category"
        placeholder="Categoría del producto"
        required
      />
    </div>
  </div>

  <div>
    <label for="price">Precio</label>
    <div>
      <input
        type="number"
        name="price"
        id="price"
        placeholder="Precio del producto"
        required
      />
    </div>
  </div>

  <div>
    <div>
      <input
        name="status"
        type="checkbox"
        value="true"
        id="flexCheckChecked"
        checked
      />
      <label for="flexCheckChecked">Estado</label>
    </div>
  </div>

  <div>
    <label for="code">Código</label>
    <div>
      <input
        type="text"
        name="code"
        id="code"
        placeholder="Código del producto"
        required
      />
    </div>
  </div>

  <div>
    <button type="submit" id="add-btn">Crear producto</button>
  </div>
</form>