{{! <header class="navbar navbar-expand-lg encabezado">
  <div class="container-fluid">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7BFZVxXtN1sDOO5J0qC_yJxWYxiBg0r7i9cB79T6J-g&s"
      alt="Logo de la tienda"
      class="tamLogo"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fuentesNav ms-auto">
        <li class="nav-item">
          <a href="/login">Inicio de Sesión</a>
        </li>
        <li class="nav-item">
          <a href="/register">Registrarse</a>
        </li>
        <li class="nav-item">
          <a href="/api/users/profile">Mi Perfil</a>
        </li>
      </ul>
    </nav>
  </div>
</header> }}

<nav>
  <!-- Contenedor principal del menú de navegación -->
  <div>
    <div id="navbarNav">
      <!-- Lista de enlaces del menú -->
      <ul>
        <!-- Elemento de la lista que contiene un enlace a la página de inicio -->
        <li>
          <a aria-current="page" href="/">Home</a>
        </li>
        <!-- Elemento de la lista que contiene un enlace a la página de productos -->
        <li>
          <a aria-current="page" href="/products">Productos</a>
        </li>
        <!-- Elemento de la lista que contiene un enlace al chat de la comunidad -->
        <li>
          <a aria-current="page" href="/chat">Chat de la comunidad</a>
        </li>
        <li>
          <a href="/realtimeproducts" type="submit">Real time products</a>
        </li>
        <li>
          <a aria-current="page" href="/profile">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>